/* Add application styles & imports to this file! */
body {
  font-family: Lato;
}

@import "~@angular/cdk/overlay";
@include cdk-overlay();

.custom-backdrop {
  background: rgba(128, 0, 128, 0.2);
}

.custom-panel p1-popover {
  border-radius: 16px;
  background: #2797d8;

  .arrow {
    border-radius: 5px;
  }
}